/* Custom overrides for Bootstrap */
body {
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

a {
  color: var(--bs-body-color);
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-robot path:nth-child(1) {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}
.icon-robot:hover path:nth-child(1) {
    opacity: 1;
}

.set-corrected.false .icon-check,
.set-state.false .icon-check {
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    transition: stroke-dashoffset 0.3s ease-in-out;
}
.set-corrected.true .icon-check,
.set-state.true .icon-check {
    stroke-dasharray: 20;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s ease-in-out;
}

